<footer class="w-full p-5">
  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
      <h3 class="footer-heading">Quick Links</h3>
      <p>Home</p>
      <p>Products</p>
      <p>About Us</p>
      <p>Contact Us</p>
    </div>

    <div class="flex flex-col">
      <h3 class="footer-heading">Social Media links</h3>
      <div class="flex flex-row justify-between">
        <img
          src="assets/images/facebook.png"
          class="social-media-icon"
          alt="social-media-icon"
        />
        <img
          src="assets/images/instagram.png"
          class="social-media-icon"
          alt="social-media-icon"
        />
        <img
          src="assets/images/twitter.png"
          class="social-media-icon"
          alt="social-media-icon"
        />
        <img
          src="assets/images/youtube.png"
          class="social-media-icon"
          alt="social-media-icon"
        />
      </div>
    </div>

    <div class="flex flex-col">
      <h3 class="footer-heading">Legal Links</h3>
      <p>Terms & Conditions</p>
      <p>Privacy Policy</p>
    </div>

    <div class="flex flex-col">
      <h3 class="footer-heading">Sign Up For Our Newsletter</h3>
      <div class="flex flex-row justify-between">
        <input
          type="text"
          class="p-3"
          placeholder="Enter your email address here"
        />
        <button class="cta-btn ms-3">Sign Up</button>
      </div>
    </div>
  </div>
</footer>
