<div>
  <div class="flex flex-row">
    <img src="assets/images/hero-img.jpg" class="w-[50%]" alt="hero-img" />
    <div
      class="flex flex-col bg-[#0e2236] w-full text-white justify-center items-center"
    >
      <p class="text-2xl">Upgrade Your Setup with Premium PC Parts</p>
      <button class="cta-btn mt-4">Shop Now</button>
    </div>
  </div>

  <h1 class="section-heading">Why Choose Us?</h1>
  <div class="flex flex-row py-10 justify-between">
    <div *ngFor="let feature of features" class="feature-card">
      <img [src]="feature.image" class="w-8" [alt]="feature.title" />
      <p class="font-bold text-2xl">{{ feature.title }}</p>
      <p class="text-center">
        {{ feature.description }}
      </p>
    </div>
  </div>

  <h1 class="section-heading">Our Team of Experts</h1>
  <div class="flex flex-row py-10 justify-between">
    <div class="flex flex-col"><img src=""</div>
  </div>
</div>
